<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>MPCF -- About Us</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="css/timeliner.min.css" type="text/css" media="screen">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.knightlab.com/libs/timeline/latest/css/timeline.css">
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">MPCF</a>
      <ul class="right hide-on-med-and-down">
				<li><a href="/index.html">Home</a></li>
				<li><a href="/about.html">About Us</a></li>
				<li><a href="/messages.html">Messages</a></li>
        <li><a href="/notices.html">Notices</a></li>
        <li><a href="/testimony.html">Testimony</a></li>
        <li><a href="/contact.html">Contacts</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/contact.html">About Us</a></li>
				<li><a href="/contact.html">Services</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container  valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header center teal-text text-lighten-2">Statement of Faith</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 center">
          <div class="icon-block">
            <p class="left-align light">We believe in one God, the Father Almighty, Maker of heaven and earth, and of all things visible and invisible.

  And in one Lord Jesus Christ, the Son  of God, the Only-begotten , Begotten of the Father before all ages, Light of Light, Very God of Very God, Begotten, not made;of one essence with the Father,by whom all things were made:

  Who for us men, and for our salvation came down from heaven, and was incarnate of the Holy Spirit and the Virgin Mary, and was made man;

  And was crucified also for us under Pontius Pilate, and suffered, and was buried;

  And the third day He rose again, according to the Scriptures;

  And ascended into heaven, and sits at the right hand of the Father;
  </p>
  <p class="left-align light">And He shall come again with glory to judge the living and the dead, Whose kingdom shall have no end.

  And we believe in the Holy Spirit, the Lord and Giver of life, Who proceeds from the Father, Who with the Father and the Son together is worshiped and glorified, Who spoke by the Prophets;

  And we believe in one,holy,catholic,and apostolic Church.

  We acknowledge one Baptism for the remission of sins.

  We look for the resurrection of the dead,

  and the Life of the age to come. Amen.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header center teal-text text-lighten-2">History of Us</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="">
    <div class="section">

      <div class="row">
        <div class="col s12">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <!-- <div id="timeline" class="timeline-container">
                  <div class="timeline-wrapper" v-for="( h, k ) in history">
                          <h2 class="timeline-time">{{ h.Time }}</h2>
                          <dl class="timeline-series">
                                  <dt class="timeline-event" v-bind:id="k"><a>{{ h.Title }}</a></dt>
                                  <dd class="timeline-event-content"  v-bind:id="k+'EX'">
                                          <p v-html="h.Description"></p>
                                          <div v-html="h.Gallery"></div>
                                  </dd>

                          </dl>
                  </div>
                  <div class="timeline-wrapper">
                          <h2 class="timeline-time">1984</h2>

                          <dl class="timeline-series">

                                  <dt class="timeline-event" id="event03"><a>Yet Another Event</a></dt>
                                  <dd class="timeline-event-content" id="event03EX">
                                          <p>Content about the event goes here.</p>
                                          <a data-flickr-embed="true" data-context="true"  href="https://www.flickr.com/photos/146341257@N03/31181937644/in/dateposted-public/" title="Horizon___Widescreen_Wallpaper_by_hameed"><img src="https://c5.staticflickr.com/1/654/31181937644_a5659c755e_n.jpg" width="320" height="128" alt="Horizon___Widescreen_Wallpaper_by_hameed"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
                                  </dd>

                          </dl>
                  </div> -->
                  <div id="my-timeline"></div>
              <br class="clear">
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
					<h4 class="header col s12 light">Then He who sat on the throne said, 'Behold, I make all things new'</h4>
					<h5 class="light right-align">Revelation 21:5a</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer brown">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Links</h5>
          <p class="grey-text text-lighten-4">Midway point Christian fellowship .</p>
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
						<li class="grey-text text-lighten-4"><strong>Email:</strong> joanharback@bigpond.com Or mpcf.au@gmail.com</li>
            <li class="grey-text text-lighten-4"><strong>Phone:</strong> +61 03 6265 2525</li>
            <li class="grey-text text-lighten-4"><strong>Address:</strong> <a href="https://maps.apple.com/?address=5 Feton ST, Midway point, TAS 7171, Australia " target="_blank">5 Feton ST, Midway point, TAS 7171, Australia </a></li>
            <li class="grey-text text-lighten-4"><strong>Mail address:</strong> PO Box 221 Sorell TAS 7172</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright @ MPCF 2016
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/tabletop.min.js" charset="utf-8"></script>
  <script src="js/materialize.js"></script>
	<script src="js/vue.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://cdn.knightlab.com/libs/timeline/latest/js/timeline-min.js"></script>
  <script type="text/javascript" src="https://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
  <script src="js/about.js"></script>
  </body>
</html>
