<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>MPCF - Messages</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="css/timeliner.min.css" type="text/css" media="screen">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">MPCF</a>
      <ul class="right hide-on-med-and-down">
				<li><a href="/index.html">Home</a></li>
				<li><a href="/about.html">About Us</a></li>
				<li><a href="/messages.html">Messages</a></li>
        <li><a href="/notices.html">Notices</a></li>
        <li><a href="/testimony.html">Testimony</a></li>
        <li><a href="/contact.html">Contacts</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/contact.html">About Us</a></li>
				<li><a href="/contact.html">Services</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container  valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header center teal-text text-lighten-2">Messages</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 center">
          <div class="icon-block" id="mdmess">
            <table class="striped responsive-table">
              <thead>
                <tr>
                    <th data-field="Date">Date</th>
                    <th data-field="Title">title</th>
                    <th data-field="Speaker">Speaker</th>
                    <th data-field="Scriptures">Scriptures</th>
                    <th data-field="Youtute">Link</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="m in messages">
                  <td> {{ m.Date }} </td>
                  <td> {{ m.Title}} </td>
                  <td> {{ m.Speaker}} </td>
                  <td> {{ m.Scriptures}} </td>
                  <td v-if="m.Youtube"><a v-bind:href="m.Youtube" target="_blank"> Youtube</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
					<h4 class="header col s12 light">Then He who sat on the throne said, 'Behold, I make all things new'</h4>
					<h5 class="light right-align">Revelation 21:5a</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer brown">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Links</h5>
          <p class="grey-text text-lighten-4">Midway point Christian fellowship .</p>
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
						<li class="grey-text text-lighten-4"><strong>Email:</strong> joanharback@bigpond.com Or mpcf.au@gmail.com</li>
            <li class="grey-text text-lighten-4"><strong>Phone:</strong> +61 03 6265 2525</li>
            <li class="grey-text text-lighten-4"><strong>Address:</strong> <a href="https://maps.apple.com/?address=5 Feton ST, Midway point, TAS 7171, Australia " target="_blank">5 Feton ST, Midway point, TAS 7171, Australia </a></li>
            <li class="grey-text text-lighten-4"><strong>Mail address:</strong> PO Box 221 Sorell TAS 7172</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright @ MPCF 2016
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/tabletop.min.js" charset="utf-8"></script>
  <script src="js/materialize.js"></script>
	<script src="js/vue.min.js" charset="utf-8"></script>
  <script src="js/timeliner.min.js"></script>
  <script src="js/message.js"></script>
  </body>
</html>
