<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>MPCF -- About Us</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="css/timeliner.min.css" type="text/css" media="screen">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">MPCF</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="messages.html">Messages</a></li>
        <li><a href="notices.html">Notices</a></li>
        <!-- <li><a href="testimony.html">Testimony</a></li> -->
        <li><a href="contact.html">Contacts</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="messages.html">Messages</a></li>
        <li><a href="notices.html">Notices</a></li>
        <!-- <li><a href="testimony.html">Testimony</a></li> -->
        <li><a href="contact.html">Contacts</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container  valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header center teal-text text-lighten-2">Roster</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/MPChapel.JPG" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 center">
          <div class="icon-block">
            <table class="striped responsive-table" id="rosters">
              <thead>
                <tr>
                    <th data-field="Date">Date</th>
                    <th data-field="Chairman">Chairman</th>
                    <th data-field="Speaker">Speaker</th>
                    <th data-field="Welcoming">Welcoming</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="m in rosters">
                  <td> {{ m.Date }} </td>
                  <td> {{ m.Speaker}} </td>
                  <td> {{ m.Chairman}} </td>
                  <td> {{ m.Welcoming}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="header center teal-text text-lighten-2">Prayer Lists</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/he_leads_me.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12">

          <div class="striped" id="prayerList">
            <ul class="collection" v-for="p in prayerLists">
              <li class="collection-item">
                <span class="title"><h5>{{ p.Item }}</h5></span>
                <p>{{ p.Description}}</p>
               </li>
             </ul>
          </div>
          <br class="clear">
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
					<h4 class="header col s12 light">Then He who sat on the throne said, 'Behold, I make all things new'</h4>
					<h5 class="light right-align">Revelation 21:5a</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/follow_me.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer brown">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Links</h5>
          <p class="grey-text text-lighten-4">Midway point Christian fellowship .</p>
        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
						<li class="grey-text text-lighten-4"><strong>Email: </strong><a href="mailto:joanharback@bigpond.com">joanharback@bigpond.com</a> Or <a href="mailto:mpcf.au@gmail.com">mpcf.au@gmail.com</a></li>
            <li class="grey-text text-lighten-4"><strong>Phone: </strong><a href="tel:+61 3 6265 2525"> +61 3 6265 2525</a></li>
            <li class="grey-text text-lighten-4"><strong>Address: </strong><a href="https://maps.apple.com/?address=5 Fenton ST, Midway point, TAS 7171, Australia " target="_blank">5 Fenton ST, Midway point, TAS 7171, Australia </a></li>
            <li class="grey-text text-lighten-4"><strong>Mail address:</strong> PO Box 221 Sorell TAS 7172</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright @ MPCF 2016
      </div>
    </div>
  </footer>

  <script type="text/x-template" id="hello-world-template">
    <p>Hello hello hello</p>
  </script>

  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/tabletop.min.js" charset="utf-8"></script>
  <script src="js/materialize.js"></script>
	<script src="js/vue.min.js" charset="utf-8"></script>
  <script src="js/timeliner.min.js"></script>
  <script src="js/notices.js"></script>
  </body>
</html>
